<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>1102</integer>
		<key>w</key>
		<integer>735</integer>
		<key>img</key>
		<string>https://i.pinimg.com/736x/a9/22/4c/a9224c814e2ed712e884519582d71185--best-tapas-in-barcelona-barcelona-spain-travel.jpg</string>
		<key>title</key>
		<string>Barcelona</string>
	</dict>
	<dict>
		<key>h</key>
		<real>1080</real>
		<key>w</key>
		<integer>1000</integer>
		<key>img</key>
		<string>https://www.guggenheim-bilbao.eus/src/uploads/2012/05/Jeff-Koons-Puppy.jpg</string>
		<key>title</key>
		<string>Bilbao</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>5400</integer>
		<key>w</key>
		<integer>3391</integer>
		<key>img</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/7/77/Eiffel_Tower_Marsfeld_Paris.jpg</string>
		<key>title</key>
		<string>Paris</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>1772</integer>
		<key>w</key>
		<real>1166</real>
		<key>img</key>
		<string>https://i.pinimg.com/originals/bd/0a/69/bd0a693ca74d5d4bc812d49fe0f2659c.jpg</string>
		<key>title</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>1064</integer>
		<key>w</key>
		<integer>1600</integer>
		<key>img</key>
		<string>https://4.bp.blogspot.com/-Y6GE-txhGTw/Uo5qLaM0JWI/AAAAAAAAQEI/ozq3FWTwckM/s1600/Leeds+City+Markets.jpg</string>
		<key>title</key>
		<string>Leeds</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>980</integer>
		<key>w</key>
		<integer>1280</integer>
		<key>img</key>
		<string>https://a6d083dea07dca1c73fc-cb58174e03923271eac4a1b3e4a70779.ssl.cf2.rackcdn.com/uploads/city_info/file/0004/amsterdam-02.jpg</string>
		<key>title</key>
		<string>Amsterdam</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>1102</integer>
		<key>w</key>
		<integer>735</integer>
		<key>img</key>
		<string>https://i.pinimg.com/736x/8b/66/76/8b66766a839c66bef55ec35bdfd1893a--visit-chicago-chicago-.jpg</string>
		<key>title</key>
		<string>Chicago</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>1620</integer>
		<key>w</key>
		<integer>1200</integer>
		<key>img</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Notre_Dame_de_Paris_DSC_0846w.jpg/1200px-Notre_Dame_de_Paris_DSC_0846w.jpg</string>
		<key>title</key>
		<string>Paris</string>
	</dict>
</array>
</plist>
